<div class="frame">
	<!-- <img src='https://graph.facebook.com/<%# eventbuddy[0] %>/picture?type=large' class="frameimage"> -->
	<%= image_tag("donald.jpg", :class => "frameimage") %>
	<div class="testdiv0">TEST DIV 0</div>
</div>
